(ns {{config-ns}})

{{#vars}}
(def {{name}} {:uri "{{uri}}"{{#polymer}} :kw {{kw}} :type :polymer{{/polymer}}
     {{#css}} :type :css{{/css}}{{#js}} :type :js{{/js}}{{#html}} :type :html{{/html}}})

{{/vars}}