{hello.scripts {moment "moment"
                underscore "underscore"
                materialize {:bower "materialize"
                             :url "bower_components/Materialize/bin/materialize.js"}}
 hello.styles {purecss "purecss"
               materialize {:bower "materialize"
                            :url "bower_components/Materialize/bin/materialize.css"}}}

;; [{:bower "moment"
;;   :runtime 'hello.scripts/moment}
;;  {:bower "underscore"
;;   :runtime 'hello.scripts/underscore}
;;  {:bower "purecss"
;;   :runtime 'hello.style/purecss}
;;  ;; {:bower "material-design-icons"
;;  ;;  :runtime 'hello.style/mdicons}
;;  {:bower "materialize"
;;   :bundles [{:runtime 'hello.styles/materialize
;;              :uri "bower_components/Materialize/bin/materialize.css"}
;;             {:runtime 'hello.scripts/materialize
;;              :uri "bower_components/Materialize/bin/materialize.js"}]}]
