[{:runtime hello.scripts/jquery :uri "https://code.jquery.com/jquery-2.1.1.min.js"}
 {:runtime hello.scripts/app :uri "scripts/app.js"}
 {:runtime hello.styles/hello :uri "styles/hello.css"}
 {:runtime hello.styles/cards :uri "styles/cards.css"}
 ;; uncommment if running on jetty
 #_{:runtime 'hello.resources/statics :uri "target"}]



